# See http://luci-config.appspot.com/schemas/projects:commit-queue.cfg for the
# documentation of this file format.

cq_status_host: "chromium-cq-status.appspot.com"
submit_options {
  max_burst: 4
  burst_delay {
    seconds: 480
  }
}
config_groups {
  gerrit {
    url: "https://chromium-review.googlesource.com"
    projects {
      name: "native_client/src/native_client"
      ref_regexp: "refs/heads/.+"
    }
  }
  verifiers {
    gerrit_cq_ability {
      committer_list: "project-nacl-committers"
      dry_run_access_list: "project-nacl-tryjob-access"
    }
    tree_status {
      url: "https://nativeclient-status.appspot.com"
    }
    tryjob {
      builders {
        name: "nacl/try/nacl-arm_opt_panda"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-arm_perf_panda"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-mac_arm_newlib_opt"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-mac_glibc_dbg"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-mac_glibc_opt"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-mac_newlib_dbg"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-mac_newlib_opt"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-precise32_glibc_opt"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-precise32_newlib_dbg"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-precise32_newlib_opt"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-precise64_arm_newlib_opt"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-precise64_arm_glibc_opt"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-precise64_glibc_opt"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-precise64_newlib_dbg"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-precise64_newlib_opt"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-precise_64-newlib-arm_qemu-pnacl"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-precise_64-newlib-x86_32-pnacl"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-precise_64-newlib-x86_32-pnacl-spec"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-precise_64-newlib-x86_64-pnacl"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-precise_64-newlib-x86_64-pnacl-spec"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-presubmit"
        disable_reuse: true
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-win32_glibc_opt"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-win32_newlib_opt"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-win64_glibc_opt"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-win64_newlib_dbg"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-win64_newlib_opt"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-win7_64_arm_newlib_opt"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-win7_64_newlib_opt_pnacl"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-win8-64_newlib_dbg"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-win8-64_newlib_opt"
        location_regexp_exclude: ".+/[+]/pnacl/.+"
        location_regexp_exclude: ".+/[+]/toolchain_build/.+"
      }
      builders {
        name: "nacl/try/nacl-toolchain-linux-pnacl-x86_64"
        location_regexp: ".+/[+]/pnacl/.+"
        location_regexp: ".+/[+]/toolchain_build/.+"
        location_regexp: ".+/[+]/buildbot/.+"
        location_regexp: ".+/[+]/pynacl/.+"
        location_regexp: ".+/[+]/build/.+"
      }
      builders {
        name: "nacl/try/nacl-toolchain-mac-pnacl-x86_32"
        location_regexp: ".+/[+]/pnacl/.+"
        location_regexp: ".+/[+]/toolchain_build/.+"
        location_regexp: ".+/[+]/buildbot/.+"
        location_regexp: ".+/[+]/pynacl/.+"
        location_regexp: ".+/[+]/build/.+"
      }
      builders {
        name: "nacl/try/nacl-toolchain-win7-pnacl-x86_64"
        location_regexp: ".+/[+]/pnacl/.+"
        location_regexp: ".+/[+]/toolchain_build/.+"
        location_regexp: ".+/[+]/buildbot/.+"
        location_regexp: ".+/[+]/pynacl/.+"
        location_regexp: ".+/[+]/build/.+"
      }
      retry_config {
        single_quota: 1
        global_quota: 2
        failure_weight: 1
        transient_failure_weight: 1
        timeout_weight: 2
      }
    }
  }
}
