# Defines buckets on cr-buildbucket.appspot.com, used by to schedule builds
# on buildbot. In particular, CQ uses some of these buckets to schedule tryjobs.
#
# See http://luci-config.appspot.com/schemas/projects:buildbucket.cfg for
# schema of this file and documentation.
#
# Please keep this list sorted by bucket name.

builder_mixins {
  name: "linux"
  dimensions: "os:Ubuntu-14.04"
}

builder_mixins {
  name: "win"
  dimensions: "os:Windows-10"
}

builder_mixins {
  name: "win7"
  dimensions: "os:Windows-7"
}

builder_mixins {
  name: "mac"
  dimensions: "os:Mac-10.13"
  dimensions: "cores:"  # Macs can be 4 or 8 cores.
}

builder_mixins {
  name: "validator"
  execution_timeout_secs: 43200  # 12h
}


acl_sets {
  name: "ci"
  acls {
    role: READER
    group: "all"
  }
  acls {
    role: WRITER
    group: "project-nacl-admins"
  }
  acls {
    role: SCHEDULER
    identity: "luci-scheduler@appspot.gserviceaccount.com"
  }
}

acl_sets {
  name: "try"
  acls {
    role: READER
    group: "all"
  }
  acls {
    role: WRITER
    group: "project-nacl-admins"
  }
  acls {
    role: SCHEDULER
    group: "service-account-cq"
  }
  acls {
    role: SCHEDULER
    group: "project-nacl-tryjob-access"
  }
}

buckets {
  name: "luci.nacl.ci"
  acl_sets: "ci"
  swarming {
    hostname: "chromium-swarm.appspot.com"
    builder_defaults {
      dimensions: "cores:8"
      dimensions: "cpu:x86-64"
      dimensions: "pool:luci.flex.ci"
      service_account: "nacl-ci-builder@chops-service-accounts.iam.gserviceaccount.com"
      execution_timeout_secs: 10800  # 3h
      swarming_tags: "vpython:native-python-wrapper"
      build_numbers: YES
      luci_migration_host: "luci-migration.appspot.com"
      recipe {
        cipd_package: "infra/recipe_bundles/chromium.googlesource.com/chromium/tools/build"
        cipd_version: "refs/heads/master"
        name: "nacl"
        properties: "mastername:client.nacl"
        properties: "slavetype:BuilderTester"
      }
    }

    builders {
      name: "linux-32-glibc-dbg"
      mixins: "linux"
    }
    builders {
      name: "linux-32-glibc-opt"
      mixins: "linux"
    }
    builders {
      name: "linux-32-newlib-dbg"
      mixins: "linux"
    }
    builders {
      name: "linux-32-newlib-opt"
      mixins: "linux"
    }
    builders {
      name: "linux-64-arm-glibc-opt"
      mixins: "linux"
    }
    builders {
      name: "linux-64-arm-newlib-opt"
      mixins: "linux"
    }
    builders {
      name: "linux-64-glibc-dbg"
      mixins: "linux"
    }
    builders {
      name: "linux-64-glibc-opt"
      mixins: "linux"
    }
    builders {
      name: "linux-64-newlib-dbg"
      mixins: "linux"
    }
    builders {
      name: "linux-64-newlib-opt"
      mixins: "linux"
    }
    builders {
      name: "linux-64-newlib-opt-test"
      mixins: "linux"
    }
    builders {
      name: "linux-64-validator-opt"
      mixins: "linux"
      mixins: "validator"
    }
    builders {
      name: "linux_64-newlib-arm_qemu-pnacl-buildonly-spec"
      mixins: "linux"
    }
    builders {
      name: "linux_64-newlib-arm_qemu-pnacl-dbg"
      mixins: "linux"
    }
    builders {
      name: "linux_64-newlib-arm_qemu-pnacl-opt"
      mixins: "linux"
    }
    builders {
      name: "linux_64-newlib-dbg-asan"
      mixins: "linux"
    }
    builders {
      name: "linux_64-newlib-mips-pnacl"
      mixins: "linux"
    }
    builders {
      name: "linux_64-newlib-x86_32-pnacl"
      mixins: "linux"
    }
    builders {
      name: "linux_64-newlib-x86_32-pnacl-spec"
      mixins: "linux"
    }
    builders {
      name: "linux_64-newlib-x86_32-spec"
      mixins: "linux"
    }
    builders {
      name: "linux_64-newlib-x86_64-pnacl"
      mixins: "linux"
    }
    builders {
      name: "linux_64-newlib-x86_64-pnacl-spec"
      mixins: "linux"
    }
    builders {
      name: "linux_64-newlib-x86_64-spec"
      mixins: "linux"
    }
    builders {
      name: "mac-arm-newlib-opt"
      mixins: "mac"
    }
    builders {
      name: "mac-glibc-dbg"
      mixins: "mac"
    }
    builders {
      name: "mac-glibc-opt"
      mixins: "mac"
    }
    builders {
      name: "mac-newlib-dbg"
      mixins: "mac"
    }
    builders {
      name: "mac-newlib-opt"
      mixins: "mac"
    }
    builders {
      name: "mac-newlib-opt-pnacl"
      mixins: "mac"
    }
    builders {
      name: "oneiric_32-newlib-arm_hw-pnacl-panda-dbg"
      mixins: "linux"
    }
    builders {
      name: "oneiric_32-newlib-arm_hw-pnacl-panda-opt"
      mixins: "linux"
    }
    builders {
      name: "oneiric_32-newlib-arm_hw-pnacl-panda-spec"
      mixins: "linux"
    }
    builders {
      name: "win7-64-arm-newlib-opt"
      mixins: "win7"
    }
    builders {
      name: "win7-64-glibc-dbg"
      mixins: "win7"
    }
    builders {
      name: "win7-64-glibc-opt"
      mixins: "win7"
    }
    builders {
      name: "win7-64-newlib-opt-pnacl"
      mixins: "win7"
    }
    builders {
      name: "win8-64-newlib-dbg"
      mixins: "win"
    }
    builders {
      name: "win8-64-newlib-opt"
      mixins: "win"
    }
  }
}

buckets {
  name: "luci.nacl.toolchain"
  acl_sets: "ci"
  swarming {
    hostname: "chromium-swarm.appspot.com"
    builder_defaults {
      dimensions: "cores:8"
      dimensions: "cpu:x86-64"
      dimensions: "pool:luci.nacl.toolchain"
      service_account: "nacl-toolchain-builder@chops-service-accounts.iam.gserviceaccount.com"
      execution_timeout_secs: 10800  # 3h
      swarming_tags: "vpython:native-python-wrapper"
      build_numbers: YES
      luci_migration_host: "luci-migration.appspot.com"
      recipe {
        cipd_package: "infra/recipe_bundles/chromium.googlesource.com/chromium/tools/build"
        cipd_version: "refs/heads/master"
        name: "nacl"
        properties: "mastername:client.nacl.toolchain"
        properties: "slavetype:BuilderTester"
      }
    }

    builders {
      name: "linux-pnacl-x86_32-tests-mips"
      mixins: "linux"
    }
    builders {
      name: "linux-pnacl-x86_64"
      mixins: "linux"
    }
    builders {
      name: "linux-pnacl-x86_64-tests-arm"
      mixins: "linux"
    }
    builders {
      name: "linux-pnacl-x86_64-tests-x86_32"
      mixins: "linux"
    }
    builders {
      name: "linux-pnacl-x86_64-tests-x86_64"
      mixins: "linux"
    }
    builders {
      name: "mac-pnacl-x86_32"
      mixins: "mac"
    }
    builders {
      name: "win-pnacl-x86_32"
      mixins: "win"
    }
  }
}

buckets {
  name: "luci.nacl.try"
  acl_sets: "try"
  swarming {
    hostname: "chromium-swarm.appspot.com"
    builder_defaults {
      dimensions: "cores:8"
      dimensions: "cpu:x86-64"
      dimensions: "pool:luci.flex.try"
      service_account: "nacl-try-builder@chops-service-accounts.iam.gserviceaccount.com"
      execution_timeout_secs: 10800  # 3h
      swarming_tags: "vpython:native-python-wrapper"
      build_numbers: YES
      luci_migration_host: "luci-migration.appspot.com"
      recipe {
        cipd_package: "infra/recipe_bundles/chromium.googlesource.com/chromium/tools/build"
        cipd_version: "refs/heads/master"
        name: "nacl"
        properties: "mastername:tryserver.nacl"
        properties: "slavetype:Trybot"
        properties: "revision:HEAD"  # The recipe expects a revision property.
      }
    }

    builders {
      name: "nacl-arm_hw_opt_panda"
      mixins: "linux"
    }
    builders {
      name: "nacl-arm_hw_perf_panda"
      mixins: "linux"
    }
    builders {
      name: "nacl-arm_opt_panda"
      mixins: "linux"
    }
    builders {
      name: "nacl-arm_perf_panda"
      mixins: "linux"
    }
    builders {
      name: "nacl-mac_arm_newlib_opt"
      mixins: "mac"
    }
    builders {
      name: "nacl-mac_glibc_dbg"
      mixins: "mac"
    }
    builders {
      name: "nacl-mac_glibc_opt"
      mixins: "mac"
    }
    builders {
      name: "nacl-mac_newlib_dbg"
      mixins: "mac"
    }
    builders {
      name: "nacl-mac_newlib_opt"
      mixins: "mac"
    }
    builders {
      name: "nacl-mac_newlib_opt_pnacl"
      mixins: "mac"
    }
    builders {
      name: "nacl-precise32_glibc_opt"
      mixins: "linux"
    }
    builders {
      name: "nacl-precise32_newlib_dbg"
      mixins: "linux"
    }
    builders {
      name: "nacl-precise32_newlib_opt"
      mixins: "linux"
    }
    builders {
      name: "nacl-precise64_arm_glibc_opt"
      mixins: "linux"
    }
    builders {
      name: "nacl-precise64_arm_newlib_opt"
      mixins: "linux"
    }
    builders {
      name: "nacl-precise64_glibc_opt"
      mixins: "linux"
    }
    builders {
      name: "nacl-precise64_newlib_dbg"
      mixins: "linux"
    }
    builders {
      name: "nacl-precise64_newlib_opt"
      mixins: "linux"
    }
    builders {
      name: "nacl-precise64_validator_opt"
      mixins: "linux"
      mixins: "validator"
    }
    builders {
      name: "nacl-precise_64-newlib-arm_qemu-pnacl"
      mixins: "linux"
    }
    builders {
      name: "nacl-precise_64-newlib-dbg-asan"
      mixins: "linux"
    }
    builders {
      name: "nacl-precise_64-newlib-mips-pnacl"
      mixins: "linux"
    }
    builders {
      name: "nacl-precise_64-newlib-x86_32-pnacl"
      mixins: "linux"
    }
    builders {
      name: "nacl-precise_64-newlib-x86_32-pnacl-spec"
      mixins: "linux"
    }
    builders {
      name: "nacl-precise_64-newlib-x86_64-pnacl"
      mixins: "linux"
    }
    builders {
      name: "nacl-precise_64-newlib-x86_64-pnacl-spec"
      mixins: "linux"
    }
    builders {
      name: "nacl-presubmit"
      mixins: "linux"
      recipe {
        name: "run_presubmit"
      }
    }
    builders {
      name: "nacl-toolchain-linux-pnacl-x86_32"
      mixins: "linux"
    }
    builders {
      name: "nacl-toolchain-linux-pnacl-x86_64"
      mixins: "linux"
    }
    builders {
      name: "nacl-toolchain-mac-pnacl-x86_32"
      mixins: "mac"
    }
    builders {
      name: "nacl-toolchain-win7-pnacl-x86_64"
      mixins: "win"
    }
    builders {
      name: "nacl-win32_glibc_opt"
      mixins: "win"
    }
    builders {
      name: "nacl-win32_newlib_opt"
      mixins: "win"
    }
    builders {
      name: "nacl-win64_glibc_opt"
      mixins: "win"
    }
    builders {
      name: "nacl-win64_newlib_dbg"
      mixins: "win"
    }
    builders {
      name: "nacl-win64_newlib_opt"
      mixins: "win"
    }
    builders {
      name: "nacl-win7_64_arm_newlib_opt"
      mixins: "win7"
    }
    builders {
      name: "nacl-win7_64_newlib_opt_pnacl"
      mixins: "win7"
    }
    builders {
      name: "nacl-win8-64_newlib_dbg"
      mixins: "win"
    }
    builders {
      name: "nacl-win8-64_newlib_opt"
      mixins: "win"
    }
  }
}
