logo_url: "https://storage.googleapis.com/chrome-infra-public/logo/nacl-logo.png"

consoles {
  id: "main"
  name: "NaCl Main Console"
  repo_url: "https://chromium.googlesource.com/native_client/src/native_client"
  refs: "refs/heads/master"
  manifest_name: "REVISION"

  builders {
    name: "buildbucket/luci.nacl.ci/linux-32-newlib-dbg"
    category: "linux|newlib|dbg"
    short_name: "32"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/linux-64-newlib-dbg"
    category: "linux|newlib|dbg"
    short_name: "64"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/linux-32-newlib-opt"
    category: "linux|newlib|opt"
    short_name: "32"
  }
   builders {
    name: "buildbucket/luci.nacl.ci/linux-64-newlib-opt"
    category: "linux|newlib|opt"
    short_name: "64"
  }
  builders {
    # TODO: delete this?
    name: "buildbucket/luci.nacl.ci/linux-64-newlib-opt-test"
    category: "linux|newlib|opt"
    short_name: "64"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/linux-64-arm-newlib-opt"
    category: "linux|newlib|opt"
    short_name: "arm"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/linux-32-glibc-dbg"
    category: "linux|glibc|dbg"
    short_name: "32"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/linux-64-glibc-dbg"
    category: "linux|glibc|dbg"
    short_name: "64"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/linux-32-glibc-opt"
    category: "linux|glibc|opt"
    short_name: "32"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/linux-64-glibc-opt"
    category: "linux|glibc|opt"
    short_name: "64"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/linux-64-arm-glibc-opt"
    category: "linux|glibc|opt"
    short_name: "arm"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/linux-64-validator-opt"
    category: "linux"
    short_name: "validator"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/linux_64-newlib-dbg-asan"
    category: "linux"
    short_name: "asan"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/linux_64-newlib-x86_64-pnacl"
    category: "linux|pnacl"
    short_name: "64"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/linux_64-newlib-x86_32-pnacl"
    category: "linux|pnacl"
    short_name: "32"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/linux_64-newlib-mips-pnacl"
    category: "linux|pnacl"
    short_name: "mips"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/linux_64-newlib-arm_qemu-pnacl-dbg"
    category: "linux|pnacl|arm"
    short_name: "dbg"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/oneiric_32-newlib-arm_hw-pnacl-panda-dbg"
    category: "linux|pnacl|arm"
    short_name: "dbg"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/linux_64-newlib-arm_qemu-pnacl-opt"
    category: "linux|pnacl|arm"
    short_name: "opt"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/oneiric_32-newlib-arm_hw-pnacl-panda-opt"
    category: "linux|pnacl|arm"
    short_name: "opt"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/mac-newlib-dbg"
    category: "mac|newlib"
    short_name: "dbg"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/mac-newlib-opt"
    category: "mac|newlib"
    short_name: "opt"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/mac-arm-newlib-opt"
    category: "mac|newlib"
    short_name: "arm"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/mac-glibc-dbg"
    category: "mac|glibc"
    short_name: "dbg"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/mac-glibc-opt"
    category: "mac|glibc"
    short_name: "opt"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/mac-newlib-opt-pnacl"
    category: "mac|pnacl"
    short_name: "opt"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/win7-64-arm-newlib-opt"
    category: "win|win7|newlib"
    short_name: "arm"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/win7-64-glibc-dbg"
    category: "win|win7|glibc"
    short_name: "dbg"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/win7-64-glibc-opt"
    category: "win|win7|glibc"
    short_name: "opt"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/win7-64-newlib-opt-pnacl"
    category: "win|win7|pnacl"
    short_name: "opt"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/win8-64-newlib-dbg"
    category: "win|win10|newlib"
    short_name: "dbg"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/win8-64-newlib-opt"
    category: "win|win10|newlib"
    short_name: "opt"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/linux_64-newlib-x86_32-pnacl-spec"
    category: "spec|pnacl"
    short_name: "32"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/linux_64-newlib-x86_64-pnacl-spec"
    category: "spec|pnacl"
    short_name: "64"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/linux_64-newlib-arm_qemu-pnacl-buildonly-spec"
    category: "spec|pnacl"
    short_name: "arm"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/oneiric_32-newlib-arm_hw-pnacl-panda-spec"
    category: "spec|pnacl"
    short_name: "arm"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/linux_64-newlib-x86_32-spec"
    category: "spec|newlib"
    short_name: "32"
  }
  builders {
    name: "buildbucket/luci.nacl.ci/linux_64-newlib-x86_64-spec"
    category: "spec|newlib"
    short_name: "64"
  }
}

consoles {
  id: "try"
  name: "NaCl Try Builders"
  repo_url: "https://chromium.googlesource.com/native_client/src/native_client"
  refs: "refs/heads/master"
  manifest_name: "REVISION"
  builder_view_only: true


  builders {
    name: "buildbucket/luci.nacl.try/nacl-arm_hw_opt_panda"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-arm_hw_perf_panda"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-arm_opt_panda"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-arm_perf_panda"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-mac_arm_newlib_opt"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-mac_glibc_dbg"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-mac_glibc_opt"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-mac_newlib_dbg"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-mac_newlib_opt"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-mac_newlib_opt_pnacl"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-precise32_glibc_opt"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-precise32_newlib_dbg"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-precise32_newlib_opt"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-precise64_arm_glibc_opt"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-precise64_arm_newlib_opt"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-precise64_glibc_opt"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-precise64_newlib_dbg"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-precise64_newlib_opt"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-precise64_validator_opt"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-precise_64-newlib-arm_qemu-pnacl"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-precise_64-newlib-dbg-asan"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-precise_64-newlib-mips-pnacl"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-precise_64-newlib-x86_32-pnacl"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-precise_64-newlib-x86_32-pnacl-spec"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-precise_64-newlib-x86_64-pnacl"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-precise_64-newlib-x86_64-pnacl-spec"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-presubmit"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-toolchain-linux-pnacl-x86_32"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-toolchain-linux-pnacl-x86_64"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-toolchain-mac-pnacl-x86_32"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-toolchain-win7-pnacl-x86_64"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-win32_glibc_opt"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-win32_newlib_opt"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-win64_glibc_opt"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-win64_newlib_dbg"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-win64_newlib_opt"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-win7_64_arm_newlib_opt"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-win7_64_newlib_opt_pnacl"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-win8-64_newlib_dbg"
  }
  builders {
    name: "buildbucket/luci.nacl.try/nacl-win8-64_newlib_opt"
  }
}

consoles {
  id: "toolchain"
  name: "NaCl Toolchain Console"
  repo_url: "https://chromium.googlesource.com/native_client/src/native_client"
  refs: "refs/heads/master"
  manifest_name: "REVISION"

  builders {
    name: "buildbucket/luci.nacl.toolchain/linux-pnacl-x86_64"
    category: "pnacl.release"
    short_name: "linux"
  }
  builders {
    name: "buildbucket/luci.nacl.toolchain/mac-pnacl-x86_32"
    category: "pnacl.release"
    short_name: "mac"
  }
  builders {
    name: "buildbucket/luci.nacl.toolchain/win-pnacl-x86_32"
    category: "pnacl.release"
    short_name: "win"
  }
  builders {
    name: "buildbucket/luci.nacl.toolchain/linux-pnacl-x86_64-tests-x86_32"
    category: "pnacl.fyi"
    short_name: "x86-32"
  }
  builders {
    name: "buildbucket/luci.nacl.toolchain/linux-pnacl-x86_64-tests-x86_64"
    category: "pnacl.fyi"
    short_name: "x86-64"
  }
  builders {
    name: "buildbucket/luci.nacl.toolchain/linux-pnacl-x86_32-tests-mips"
    category: "pnacl.fyi"
    short_name: "mips"
  }
  builders {
    name: "buildbucket/luci.nacl.toolchain/linux-pnacl-x86_64-tests-arm"
    category: "pnacl.fyi"
    short_name: "arm"
  }
}

